/* GENERAL */

*
{
  margin: 0;
  padding: 0;
}
body
{
  font-family: Arial, sans-serif;
  font-size: 15px;
}
h1, h3, label
{
  color: #444;
}
h1
{
  font-family: 'Crete Round', serif;
  font-size: 45px;
}
h2
{
  color: #ffffff;
  font-size: 45px;
}
h3
{
  padding-top: 15px;
  clear: both;
}
.orange
{
  color: #ff7a00;
}
.wrapper
{
  margin: 0 auto;
  padding: 0 20px;
}
ul
{
  list-style: none;
}
a
{
  text-decoration: none;
  color: #222;
}
.article-content
{
  font-family: "SF Text", "Helvetica Neue", "Helvetica", "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 20px;
  color: #222;
}

/* HEADER */

header {

    height: 120px;
    position: fixed;
    border-bottom: 2px solid #dddddd;
    top: 0px;
    background-color: #ffffff;
    width: 100%;
    z-index: 1;

}
header h1
{
  float: left;
  margin-top: 32px;
  word-spacing: 0px;
}
header nav
{
  width: 500px;
  height: 30px;
  float: right;
  margin-top: 50px;
  padding-right: 50px;
  background-color: #ffffff;
}
.submenu
{
  display: none;
}
header nav::after
{
  content: "";
  display: block;
  clear: both;
}
header a
{
  display: block;
  height: 30px;
  line-height: 30px;
}
header nav li:hover .submenu
{
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 1000;
  padding-left: 20px;
  background-color: #ffffff;
  padding-top: 20px;
}
header nav li :hover > a
{
  display: block;
  height: 30px;
}
header nav > ul > li
{
  display: inline-block;
  float: left;
  position: relative;
  border-right: 2px solid #dddddd;
  padding-left: 20px;
}
header li:last-child
{
  border: none;
}

header nav ul li a
{
  font-weight: bold;
  margin-right: 20px;
}
#logo
{
  display:inline-block;
  width: 100px;
  height: 60px;
  margin-top: 30px;
  margin-left: 5px;
}

/* MAIN IMAGE */
#main-image {

    height: 350px;
    background: url('deliveroo.jpg') no-repeat center;
    background-size: 1287px 350px;
    margin-top: 120px;
    background-color: #808080;
}
#main-image h2
{
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  padding: 100px 0 30px 0;
}

/* POSSIBILITIES */
p a
{
  position: relative;
  color: red;
  font-weight: bold;

}
.link-image
{
 display: block;
 width: 180px;
 height: 100px;
 margin-right: 30px;
 position: relative;
}
#possibilities
{
  height: 640px;
}
#possibilities nav ul li
{
  display: inline-block;
}
#possibilities nav
{
  float: left;
  margin-left: 100px;
  margin-top: 30px;
}

#deliveroo-logo
{
  background: url('deliveroo-logo.png') no-repeat center;
  background-size: cover;
}
#uber-logo
{
  background: url('ubereats-logo.jpg') no-repeat center;
  background-size: cover;
}
#foodora-logo
{
  background: url('foodora-logo.png') no-repeat center;
  background-size: cover;
}
#stuart-logo
{
  background: url('stuart-logo.png') no-repeat center;
  background-size: cover;
}
#entreprise
{
  background-color: #cccccc;
  float: right;
  margin-right: 325px;
}
#article-entreprise
{
  display: block;
  width: 700px;
  height: 100px;
  float: left;
}
#entreprise p
{
  padding-top: 30px;
  text-align: center;
}
#casier
{
  background-color: #dddddd;
  float: right;
  margin-right: 325px;
}
#casier p
{
  padding-top: 30px;
  text-align: center;
}
#article-casier
{
  display: block;
  width: 400px;
  height: 100px;
  float: left;
}

/* EN-plus */
aside
{
  position: relative;
}
#en-plus
{
  width: 300px;
  height: 415px;
  background: url('stuart.jpg') no-repeat center;
  background-size: cover;
  position: absolute;
  top: 670px;
  right: 10px;
}


/* CONTACTES */
#contacte
{
  padding: 30px 0;
  text-align: center;
  background-color: #808080;
}
#contacte h3
{
  width: 400px;
  text-transform: uppercase;
  font-size: 24px;
  margin: 0 auto 20px auto;
  border-bottom: 1px solid #02b8dd;
  padding-bottom: 20px;
}
form
{
  margin: 30px auto 20px auto;
}
label
{
  font-weight: bold;
  font-size: 20px;
  margin-right: 10px;
  font-family: 'Century Schoolbook L';
}
input[type="text"]
{
  padding: 10px;
  font-size: 20px;
  margin-right: 20px;
  border: 2px solid #ddd;
  border-radius: 3px;
}
.botton-ok
{
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 11px;
  background-color: #02b8dd;
  border-style: none;
  border-radius: 3px;
}
.botton-ok:hover
{
  color: #fff;
  background-color: #444;
}
#numero-tel
{
  font-size: 15px;
}
